#red-clouds {
	background-image: url("../images/red-clouds.png");
}
#leaves-bkg{
    background-image: url("../images/palm-branches-swaying.gif");
    background-size: 50%;
}
#cinema-bkg{
    background-image: url("../images/wood.png");
    background-size: 50%;
}
#mapBkg{
    background-image: url("../images/papyrus.jpg");
    background-size: 100%;
}
.red-curtains {
	background-image: url("../images/red-curtains.png");
}
/*Text Specific*/
h1,h2,h3,h4{
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Chakra Petch', sans-serif;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
.center {
    text-align: center;
}
.stack-left{
    float: left;
}
.stack-right{
    float: right;
}
p, ul{
    font-family: 'Poppins', sans-serif;
}
/*-----------------------------------------------*/
#page-wrapper {
	width: 72%;
	margin: 0 auto;
	box-shadow: 0px 4px 30px 15px rgba(0, 0, 0, 1);
    margin-top: 2%;
}
.page-pad{
    padding: 2%;
}
#main-navbar{
    background-color: #0000003b; 
    overflow: hidden;
}
#navbar-container{
    float: left;  
    width: 100%;
}
#main-navbar ul {
    list-style-type: none; 
    position: relative; 
    margin: 0;
    padding: 0; 
    float: left;  
    left: 50%; 
    display: flex;
    align-items: center;
}
#main-navbar ul li {
    position: relative;
    right: 50%; 
    float: left;     
    display: block;
    margin: 10px;
}
#main-navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #1616166b; 
    border-radius: 5px;
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
#onpage{
    border: 2px dashed;
    border-color: inherit;
    border-radius: 5px;
}
#main-navbar ul li a:hover {
    background-color: #c2c2c2;
    box-shadow: 3px 3px 6px 0px #ccdbe800 inset, -3px -3px 6px 1px rgba(81, 81, 81, 0.811) inset;
  }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#support100{
    padding-right: 100px;
}
/* pg 1 exclusive*/
#cinfo{
    background-color: #952e4d5c; 
}
#cinfo ul li{
    list-style-type: none; 
    padding: 1%;
    float: left;  
    display: flex;
    align-items: center;
}
#cinfo ul{
    overflow: hidden;
}
#experience{
    width: 50%;
}
#education{
    background-color: #952e4d5c; 
}
#education li{
    padding-left: 25px;
    list-style-type: none;
    background: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 20px;
}
#education li ul li{
    background: url(../images/reddot.svg);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-y: center;
}
#experience li{
    list-style-type: none;
    background: url(../images/reddot.svg);
    padding: 10px 20px;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-y: 17px;
}
#Skills li{
    list-style-type: disclosure-closed;
}
#footer{
    position: absolute;
    right: 0%;
}
#Skills{
    padding-left: 5%;
}
/*Pg 2 exclusive*/
#heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    margin: 50px;
    border-radius: 20px;
}
#large-page{
    margin: 10px;
	box-shadow: 0px 4px 30px 15px rgba(0, 0, 0, 1);
    margin-top: 10px;
    padding: 40px;

}
.img-padding{
    margin-right: 15px;
}
.stages-padding{
    padding: 15px;
}
.limit-width{
    max-width: 800px;
}
.center-align{
    display: flex;
    align-items: center;
}
#footer-deccor {
    background-image: url(../images/grassline.gif);
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
}
/* Pg 3 exclusive*/
#head-p3 div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#support2{
    padding-right: 50px;
}
#mv1{
    background: linear-gradient(180deg, #68371c 0%, rgb(155 107 81) 50%, #68371c 100%);
}
.whitetxt{
    color: white;
}
.whitetxt h2{
    font-size: 2.5rem;
}
.mv div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mv div p{
    text-align: justify;
    max-width: 50vw;
}
.mv h3{
    margin-top: 0%;
    font-size: 1.5em;
}
#mv2{
    background: linear-gradient(180deg, rgba(189,56,56,1) 0%, rgba(158,98,98,1) 100%);
}
#mv3 {
    background: linear-gradient(0deg, rgb(29 232 129) 0%, rgba(10,112,62,1) 100%);
}
#map {
    width: 50%;
    padding: 20%;
    margin: 5%;
    border-radius: 30px;
    padding-bottom: 30%;

  }

